html,
body {
  padding: 0;
  margin: 0;
<<<<<<< HEAD
  font-family: Poppins;
=======
  font-family: "Poppins", sans-serif;
>>>>>>> aad0cfe24aea0cca543d90f3012a27f3e8430c2b
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
