.btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.sponserTitle {
  font-weight:initial;
  font-style:oblique;
  font-size: 4rem;
  color: #fa853f;
  text-align: center;
  line-height: 3.125rem;
}
.sponserMsg {
  font-size: 2rem;
  color: black;
  font-weight: 400;
  text-align: center;
  line-height: 5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 3rem;
  box-sizing: border-box;
}
.logo {
  height: 3rem;
}
.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  background-color: white;
  grid-column-gap: 1.0rem;
  grid-row-gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.griditem {

  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  text-align: center;
}

@media (max-width: 700px) {
  .grid {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
}
